# How were you made aware of the HPI?
id: AP01

In [1]:
import pandas as pd
import numpy as np

question_id = 'AP01'
question_title='How were you made aware of the HPI'

#----------------------------------------------------------------
#LOAD FILE
sep ='_'
suffix='.csv'
program_column = 'DE01_What program or enrollment are you in currently'
file_path = 'C:/Users/Christian/Documents/GitHub/survey-2023-hpi-international-community/'
data_path = f'{file_path}data/'
file_name = f'{data_path}{question_id}{sep}{question_title}{suffix}'
data_frame = pd.read_csv(file_name)
tables_path = f'{file_path}latex_tables/{question_id[:2]}/'
tables_file_name = f'{question_id}{sep}{question_title}'

#----------------------------------------------------------------
#RENAMING 
#DataFrame Column with "Options" instead of Question Text
data_frame = data_frame.rename(columns={data_frame.columns[0]: "Options"})
data_frame = data_frame.rename(columns={data_frame.columns[1]: "Comments"})
#Make Program name shorter
data_frame = data_frame.rename(columns={program_column: "Program"})
data_frame["Program"] = data_frame["Program"].replace("Does not apply (Staff, PostDoc, Researcher, Lecturer, Professor, etc.)",
                                           "Staff, Researcher, Professor,...")
data_frame["Program"] = data_frame["Program"].replace("Other","Others")
#--------------

# Set the style for aligning columns to the left
styles = [
    {
        'selector': 'th',
        'props': [('text-align', 'left')]
    },
    {
        'selector': 'td',
        'props': [('text-align', 'left')]
    }
]

# Apply the style to the DataFrame
#df_styled = data_frame.style.set_table_styles(styles)
#display(df_styled)

### Answer count and percentages

In [2]:
import module_table_writer as table_writer
# ALL:
latex_table = table_writer.display_value_counts(data_frame, question_id, 
                                                question_title, filter_value='All', styles=None)
table_writer.table_to_file(latex_table,tables_path,tables_file_name)

# Filter by Program
program_name_array = data_frame['Program'].unique()
new_program_array= np.setdiff1d(program_name_array, ['Not answered'])

for program_name in new_program_array:
    latex_table = table_writer.display_value_counts(data_frame, question_id, question_title, 
                     filter_column= 'Program', 
                     filter_value= program_name, 
                     styles=None)
    table_writer.table_to_file(latex_table,tables_path,tables_file_name)

All
['32.26', '18.06', '18.06', '16.77', '5.81', '5.16', '2.58', '1.29']

                           Options  Counts Percentages
0                 Friend/Colleague      50       32.26
1                            Other      28       18.06
2                              Web      28       18.06
3  Web Search (Google, Bing, etc.)      26       16.77
4                     Not answered       9        5.81
5              Academic Conference       8        5.16
6                       Newsletter       4        2.58
7      Advertisement in a Magazine       2        1.29

C:/Users/Christian/Documents/GitHub/survey-2023-hpi-international-community/latex_tables/AP/AP01_How were you made aware of the HPI_tables.tex
True
Bachelor Program
['37.50', '31.25', '25.00', '6.25']

                       Options  Counts Percentages
0                          Web       6       37.50
1             Friend/Colleague       5       31.25
2                        Other       4       25.00
3  Advertisement in a Magazine       1        6.25

C:/Users/Christian/Documents/GitHub/survey-2023-hpi-international-community/latex_tables/AP/AP01_How were you made aware of the HPI_tables.tex
False
Doctorate (PhD) Program
['42.86', '19.05', '14.29', '14.29', '4.76', '2.38', '2.38']

                           Options  Counts Percentages
0                 Friend/Colleague      18       42.86
1  Web Search (Google, Bing, etc.)       8       19.05
2              Academic Conference       6       14.29
3                              Web       6       14.29
4                            Other       2        4.76
5                     Not answered       1        2.38
6                       Newsletter       1        2.38

C:/Users/Christian/Documents/GitHub/survey-2023-hpi-international-community/latex_tables/AP/AP01_How were you made aware of the HPI_tables.tex
False
Master Program
['28.85', '25.00', '23.08', '15.38', '1.92', '1.92', '1.92', '1.92']

                           Options  Counts Percentages
0  Web Search (Google, Bing, etc.)      15       28.85
1                              Web      13       25.00
2                 Friend/Colleague      12       23.08
3                            Other       8       15.38
4                       Newsletter       1        1.92
5              Academic Conference       1        1.92
6      Advertisement in a Magazine       1        1.92
7                     Not answered       1        1.92

C:/Users/Christian/Documents/GitHub/survey-2023-hpi-international-community/latex_tables/AP/AP01_How were you made aware of the HPI_tables.tex
False
Others
['50.00', '50.00']

                           Options  Counts Percentages
0                            Other       1       50.00
1  Web Search (Google, Bing, etc.)       1       50.00

C:/Users/Christian/Documents/GitHub/survey-2023-hpi-international-community/latex_tables/AP/AP01_How were you made aware of the HPI_tables.tex
False
Staff, Researcher, Professor,...
['40.54', '35.14', '8.11', '5.41', '5.41', '2.70', '2.70']

                           Options  Counts Percentages
0                 Friend/Colleague      15       40.54
1                            Other      13       35.14
2                              Web       3        8.11
3                       Newsletter       2        5.41
4  Web Search (Google, Bing, etc.)       2        5.41
5              Academic Conference       1        2.70
6                     Not answered       1        2.70

C:/Users/Christian/Documents/GitHub/survey-2023-hpi-international-community/latex_tables/AP/AP01_How were you made aware of the HPI_tables.tex
False

### Free text answers

In [3]:
df_text = pd.DataFrame(data_frame[['Comments','Program']]).dropna()
df_text = df_text.sort_values(by=['Program'])
#df_styled = df_text.style.set_table_styles(styles)

table_caption=f'Comments for {question_id}-{question_title}'
label_name = f'{question_id}-FreeText_table'
latex_table = df_text.to_latex(index=False,
                               caption=table_caption, 
                               label=label_name,
                               column_format='@{}p{0.65\\textwidth}p{0.35\\textwidth}')

table_writer.table_to_file(latex_table,tables_path,tables_file_name)

C:/Users/Christian/Documents/GitHub/survey-2023-hpi-international-community/latex_tables/AP/AP01_How were you made aware of the HPI_tables.tex
False

### Making sense of the data

#### Surprising findings:
- Number of recommendations from friends and colleagues (maybe a program to incentivize that?)
- Web pages or search amounts to more than 34%, which is also surprising.
- Low proportion on directed/planned initiatives like conferences and magazines.