## question id: G004

In [4]:
import pandas as pd
import configparser
import module_table_writer as tw
import module_data_wrangling as dw

question_id = 'G004'
selected_level = {6:'Yes',7:'No'}

#Enrolled demographic
enrolled_column_key = 'B003'
enrolled_column_name = 'Enrolled'
enrolled_dictionary = {'0':'Enrolled','B003_01':'Intend to enroll','B003_02':'Intend to re-enroll'}  
# B003_05: Do not intend to finish the PhD -> only two people and answers are mostly empty, so I removed.

#Gender demographic
gender_column_key = 'B004'
gender_column_name = 'Gender'
gender_dictionary = {1:'Female',2:'Male'}
#3:'Non-binary' no one selected this option
#4:'Diverse' only one person selected this option

#Year at HPI demographic
years_at_HPI_column_key = 'B006'
years_at_HPI_column_name = 'Years at HPI'
years_at_HPI_dictionary = {'B006_01':'1 year or less','B006_02':'2 years','B006_03':'3 years','B006_04':'More than 4 years'}

#Citizenship demographic
citizenship_column_key = 'B007'
citizenship_column_name = 'Citizenship'
citizenship_dictionary = {1:'Germany',2:'EU',3:'Non-EU'}

#-----------------------------------------------------------------
# LOAD CONFIGURATION FILE
config = configparser.ConfigParser()
config.read('config.ini')
project_path = config['file.loading']['project_path']
data_folder = config['file.loading']['data_folder']
latex_tables_folder = config['file.loading']['latex_tables_folder']
question_index_file = config['file.loading']['question_index_file']
data_file = config['file.loading']['data_file']
sep = config['file.loading']['sep']

#----------------------------------------------------------------
#LOAD QUESTION INDEX (Questions id, Question text, Answer alternatives, Details)
question_index_path = f'{project_path}/{data_folder}/{question_index_file}'
#print(question_index_path)
id_data_frame = pd.read_csv(question_index_path,encoding = 'ISO-8859-1')
filtered_index_df = id_data_frame[id_data_frame['ID']==question_id]
question_title = filtered_index_df['Question'].iloc[0]

print('ID:'+question_id+', Question Title:' + question_title)

#extract the answer options for this question (it is a column)
options_dict = dw.generate_options_dictionary(filtered_index_df,'Alternatives')

#----------------------------------------------------------------
#LOAD DATA FILE AND FILTER NECESSARY COLUMNS
file_name_path = f'{project_path}/{data_folder}/{data_file}'
original_data_frame = pd.read_csv(file_name_path,encoding = 'ISO-8859-1')

my_list = [enrolled_column_key, gender_column_key, years_at_HPI_column_key, citizenship_column_key, question_id]

# Get a list of all keys
options_code_list = list(selected_level.keys())
options_names_list = list(selected_level.values())

selected_columns = my_list 

# Create a new DataFrame with only the selected columns
data_frame = original_data_frame[selected_columns]

#----------------------------------------------------------------
#CREATE LATEX TABLE FILE
tables_path = f'{project_path}/{latex_tables_folder}/{question_id[:2]}/'
tables_file_name = f'{question_id}'

ID:G004, Question Title:Have you faced any difficulty in accessing administrative level resources (HR; IT; Facility Management; Media Support; Studienreferat; etc.)
{'G004': 'Yes No  FreeText'}

#### All (no filter)

In [5]:
#ALL

count_df = dw.percentage_options_single_column(df_data=data_frame,
                                column_name = question_id,
                                options_names=options_names_list,
                                options_codes=options_code_list)

if(count_df.size > 0):
    print('Table for '+'All')
    count_df = count_df.rename(columns={count_df.columns[0]: 'Answers'})
    display(count_df)
    latex_table = tw.write_latex_table(count_df,False, 'All', 
                                    question_id, question_title,
                                    column_format='@{}lcc')
    tw.table_to_file(latex_table,tables_path,tables_file_name)
else:
    print('Table for '+'All is empty')

Table for All

  Answers  Count Percentage
0     Yes     35      37.23
1      No     59      62.77
2   TOTAL     94     100.00

### Enrollment count and percentages

In [6]:
tw.filter_write_table_single_column(group_column_key = enrolled_column_key,
                    dict_column_names = enrolled_dictionary,
                    df = data_frame,
                    options_names_list = options_names_list,
                    options_code_list = options_code_list,
                    question_id =question_id,
                    question_title = question_title,
                    tables_path = tables_path,
                    tables_file_name = tables_file_name
                    )

Table for "Enrolled"

  Answers  Count Percentage
0     Yes     30      35.71
1      No     54      64.29
2   TOTAL     84     100.00

Table for "Intend to enroll"

  Answers  Count Percentage
0     Yes      3      37.50
1      No      5      62.50
2   TOTAL      8     100.00

Table for "Intend to re-enroll"

  Answers  Count Percentage
0     Yes      2     100.00
1      No      0       0.00
2   TOTAL      2     100.00

### Gender Count and percentages

In [7]:
tw.filter_write_table_single_column(group_column_key = gender_column_key,
                    dict_column_names = gender_dictionary,
                    df = data_frame,
                    options_names_list = options_names_list,
                    options_code_list = options_code_list,
                    question_id =question_id,
                    question_title = question_title,
                    tables_path = tables_path,
                    tables_file_name = tables_file_name
                    )

Table for "Female"

  Answers  Count Percentage
0     Yes      6      31.58
1      No     13      68.42
2   TOTAL     19     100.00

Table for "Male"

  Answers  Count Percentage
0     Yes     29      39.19
1      No     45      60.81
2   TOTAL     74     100.00

### Year at HPI

In [8]:
tw.filter_write_table_single_column(group_column_key = years_at_HPI_column_key,
                    dict_column_names = years_at_HPI_dictionary,
                    df = data_frame,
                    options_names_list = options_names_list,
                    options_code_list = options_code_list,
                    question_id =question_id,
                    question_title = question_title,
                    tables_path = tables_path,
                    tables_file_name = tables_file_name
                    )

Table for "1 year or less"

  Answers  Count Percentage
0     Yes     10      45.45
1      No     12      54.55
2   TOTAL     22     100.00

Table for "2 years"

  Answers  Count Percentage
0     Yes      9      28.12
1      No     23      71.88
2   TOTAL     32     100.00

Table for "3 years"

  Answers  Count Percentage
0     Yes      8      47.06
1      No      9      52.94
2   TOTAL     17     100.00

Table for "More than 4 years"

  Answers  Count Percentage
0     Yes      8      34.78
1      No     15      65.22
2   TOTAL     23     100.00

### Citizenship count and percentages

In [9]:
tw.filter_write_table_single_column(group_column_key = citizenship_column_key,
                    dict_column_names = citizenship_dictionary,
                    df = data_frame,
                    options_names_list = options_names_list,
                    options_code_list = options_code_list,
                    question_id =question_id,
                    question_title = question_title,
                    tables_path = tables_path,
                    tables_file_name = tables_file_name
                    )

Table for "Germany"

  Answers  Count Percentage
0     Yes     28      40.00
1      No     42      60.00
2   TOTAL     70     100.00

Table for "EU"

  Answers  Count Percentage
0     Yes      3      33.33
1      No      6      66.67
2   TOTAL      9     100.00

Table for "Non-EU"

  Answers  Count Percentage
0     Yes      4      28.57
1      No     10      71.43
2   TOTAL     14     100.00

### Free text

In [10]:
#extract the answer options for this question (it is a column)
#ft for free-text
ft_dict = dw.generate_options_dictionary(filtered_index_df,'Details')
ft_column_keys = ft_dict.keys()
ft_column_names = ft_dict.values()

selected_columns = my_list + list(ft_column_keys)

# Create a new DataFrame with only the selected columns
ft_data_frame = original_data_frame[selected_columns]

#for each option, make a table with all the free text that was provided
for column_key in ft_column_keys:
    text_df = pd.DataFrame(ft_data_frame[[column_key,enrolled_column_key,gender_column_key,years_at_HPI_column_key,citizenship_column_key]]).dropna()
    text_df = text_df.sort_values(by=[enrolled_column_key,gender_column_key,years_at_HPI_column_key,citizenship_column_key])

    text_df = dw.replace_code_for_name(text_df,enrolled_column_key,enrolled_dictionary)
    text_df = dw.replace_code_for_name(text_df,gender_column_key,gender_dictionary)
    text_df = dw.replace_code_for_name(text_df,years_at_HPI_column_key,years_at_HPI_dictionary)
    text_df = dw.replace_code_for_name(text_df,citizenship_column_key,citizenship_dictionary)
    
    #Rename columns before printing
    text_df = text_df.rename(columns={text_df.columns[0]: 'Comment',
                                      enrolled_column_key: enrolled_column_name,
                                      gender_column_key: gender_column_name,
                                      years_at_HPI_column_key:years_at_HPI_column_name,
                                      citizenship_column_key:citizenship_column_name})
    
    ft_column_name = ft_dict.get(column_key)
    table_caption=f'Comments for {column_key} relative to {ft_column_name} in question: {question_id}-{question_title}'
    label_name = f'{question_id}-{column_key}-FreeText_table'
    latex_table = text_df.to_latex(index=False,
                               caption=table_caption, 
                               label=label_name,
                               column_format='@{}p{0.65\\textwidth}p{0.35\\textwidth}')
    tw.table_to_file(latex_table,tables_path,tables_file_name)
    print('Table for '+'"{}"'.format(ft_column_name))
    display(text_df)

{'G004_06': 'Yes (free text)'}

UnicodeEncodeError: 'charmap' codec can't encode character '\x81' in position 4769: character maps to <undefined>